<template>
  <v-card
    class="chat-box"
    elevation="4"
  >
    <v-card-title class="chat-box-title justify-space-between">
      <span>
        <span
          v-if="roomData.state === '준비중'"
          class="mr-2"
        >
          {{ roomData.state }}
        </span>
        <span v-else-if="playerJob !== ''">{{ playerJob }}</span>
      </span>
      <span>{{ gameData.phaseData.phaseName }}</span>
    </v-card-title>
    <v-card-text class="chat-wrapper">
      <div
        v-for="chat in combinedMessage"
        :key="chat.id"
      >
        <span
          v-if="chat.uid !== 'admin'"
          class="chat-displayName"
        >
          {{ chat.displayName }}
        </span>
        <span>
          {{ chat.msg }}
        </span>
      </div>
    </v-card-text>
    <v-text-field
      v-model="chatTyping"
      label="메세지 입력"
      class="chat-field px-3 pt-2"
      type="text"
      append-icon="mdi-send"
      autofocus
      outlined
      dense
      hide-details
      :disabled="state === '게임중' && survivorList.findIndex(e => e.uid === currentUser.uid) < 0"
      color="red darken-3"
      @keyup.enter="msgSend"
      @click:append="msgSend"
    />
  </v-card>
</template>

<script>
import firebase from 'firebase/app'
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'ChatBox',
  data () {
    return {
      roomChatList: [],
      gameChatList: [],
      privateNotices: [],
      chatTyping: '',
      chatRef: null,
      chatLimit: 100,
      stickBottom: true
    }
  },
  computed: {
    ...mapState(['currentUser', 'userTime', 'roomData', 'roomRef', 'gameData']),
    ...mapState({
      phase: state => state.gameData.phaseData.phase,
      phaseDate: state => state.gameData.phaseData.phaseDate,
      gamePrivateData: state => state.gamePrivateData ? state.gamePrivateData : {
        job: ''
      }
    }),
    state () {
      return this.roomData && this.roomData.state
    },
    survivorList () {
      return this.gameData && this.gameData.survivorList
    },
    deathList () {
      return this.gameData && this.gameData.deathList
    },
    suspect () {
      return this.gameData && this.gameData.phaseData.suspect
    },
    phase () {
      return this.gameData.phaseData.phase
    },
    playerJob () {
      return this.gamePrivateData.job
    },
    ...mapGetters(['gameRef']),
    combinedMessage () {
      let tempChatList = []
      tempChatList = this.roomChatList.concat(this.gameChatList)
      tempChatList.sort((a, b) => {
        if (a.timeSent === null) {
          return 1
        }
        if (b.timeSent === null) {
          return -1
        }
        return a.timeSent.toMillis() - b.timeSent.toMillis()
      })
      return tempChatList
    },
    chatPermission () {
      return this.state === '준비중' ||
        (this.phase !== 'nightTime' &&
        (this.phase.includes('Arg') && this.suspect.uid !== this.currentUser.uid) === false &&
        this.survivorList.findIndex(e => e.uid === this.currentUser.uid) >= 0)
    }
  },
  watch: {
    roomData: {
      immediate: true,
      handler (newData, oldData) {
        if (oldData && (oldData.state === '' || oldData.state === '준비중') && newData.state === '게임중') {
          this.$unbind('roomChatList')
          this.$bind('gameChatList', this.gameRef.collection('chatList').orderBy('timeSent', 'desc').limit(this.chatLimit))
          this.$bind('privateNotices', this.gameRef.collection('playerList').doc(this.currentUser.uid).collection('messages').orderBy('timeSent', 'desc'))
        } else if ((oldData === undefined || oldData.state === '게임중') && newData.state === '준비중') {
          this.$bind('roomChatList', this.roomRef.collection('chatList').orderBy('timeSent', 'desc').limit(this.chatLimit))
        }
      }
    }
  },
  created () {
    this.$bind('roomChatList', this.roomRef.collection('chatList').orderBy('timeSent', 'desc').limit(this.chatLimit))
  },
  mounted () {
    const chatBox = this.$el.querySelector('.chat-wrapper')
    chatBox.onscroll = async () => {
      if (chatBox.scrollTop + 1000 < chatBox.scrollHeight) {
        this.stickBottom = false
      } else {
        this.stickBottom = true
      }
      if (chatBox.scrollTop === 0) {
        const oldHeight = chatBox.scrollHeight
        this.chatLimit = this.combinedMessage.length + 100
        if (this.roomData.state === '게임중') {
          await this.$bind('gameChatList', this.gameRef.collection('chatList').orderBy('timeSent', 'desc').limit(this.chatLimit), { wait: true })
        } else if (this.roomData.state === '준비중') {
          await this.$bind('roomChatList', this.roomRef.collection('chatList').orderBy('timeSent', 'desc').limit(this.chatLimit), { wait: true })
        }
        chatBox.scrollTop = chatBox.scrollHeight - oldHeight
      }
    }
  },
  updated () {
    const chatBox = this.$el.querySelector('.chat-wrapper')
    if (this.stickBottom) {
      chatBox.scrollTop = chatBox.scrollHeight
    }
  },
  methods: {
    async msgSend () {
      if (this.chatTyping && this.chatPermission) {
        const chatRef = this.gameRef !== null && this.phase !== 'gameOver' ? this.gameRef : this.roomRef
        chatRef.collection('chatList').add({
          uid: this.currentUser.uid,
          displayName: this.currentUser.displayName,
          msg: this.chatTyping,
          timeSent: firebase.firestore.FieldValue.serverTimestamp()
        })
        this.chatTyping = ''
        const chatBox = this.$el.querySelector('.chat-wrapper')
        chatBox.scrollTop = chatBox.scrollHeight
        this.stickBottom = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.chat-box {
  display: grid;
  grid: auto 1fr auto / 1fr;

  min-height: 0;
  height: 100%;
  padding: 0 0 10px 0;
  background-color: #f0f0f0;
  .chat-box-title {
    background: black;
    color: white;
    font-size: 20px;
    padding: 2px 16px;
  }
  .chat-wrapper {
    display: grid;
    grid: auto / 1fr;
    align-content: start;
    color: black;
    overflow-y: auto;
    font-weight: 700;
    padding: 0;
    div {
      display: flex;
      align-items: center;
      padding: 3px 16px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid #b0b0b0;
      white-space: pre-line;
      &:last-child {
        border-bottom: 1px;
      }

      .chat-displayName {
        display: flex;
        align-items: center;
        background: #e0e0e0;
        margin-right: 8px;
        padding: 0 8px;
        height: 32px;
        border-radius: 16px;
      }
    }
  }
  .chat-field {
    border-top: 1px solid #b0b0b0;
  }
}
@media screen and (max-width: 767px) {
  .chat-box {
    #chat-wrapper {
      font-size: 12px;
    }
  }
}
</style>
