<template>
  <v-card
    class="player-list"
    elevation="4"
  >
    <v-card-title class="player-list-title justify-center">
      {{ playerList.length }} / {{ roomData.roomMax }}
    </v-card-title>
    <v-card-text
      v-if="phase.includes('FinalVote') && suspect.uid !== currentUser.uid"
      class="d-flex justify-space-around"
    >
      <v-btn @click="finalVote('down')">
        찬성
      </v-btn>
      <v-btn @click="finalVote('up')">
        반대
      </v-btn>
    </v-card-text>
    <v-card-text
      v-else-if="phase.includes('Vote')"
      class="d-flex justify-center pt-2 pb-0"
    >
      <v-btn @click="vote({ uid: 'skip', displayName: '무투표' })">
        무투표
      </v-btn>
    </v-card-text>
    <v-list
      v-if="state === '준비중'"
      class="player-wrapper"
    >
      <v-list-item
        v-for="player in playerList"
        :key="player.uid"
        class="player"
      >
        <v-list-item-avatar>
          <v-icon>mdi-account</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title
            class="d-flex align-center"
          >
            <span>{{ player.displayName }}</span>
            <v-icon v-if="masterId === player.uid">
              mdi-crown
            </v-icon>
            <v-icon v-if="player.ready">
              mdi-check
            </v-icon>
          </v-list-item-title>
        </v-list-item-content>
        <v-btn
          v-if="player.uid !== currentUser.uid && masterId === currentUser.uid && state === '준비중'"
          @click="kickPlayer(player)"
        >
          <v-icon>mdi-exit-to-app</v-icon>
        </v-btn>
      </v-list-item>
    </v-list>
    <div v-else>
      <v-list
        class="survivor-wrapper"
      >
        <v-chip
          v-for="player in survivorList"
          :key="player.uid"
          class="player mx-2 my-1"
        >
          <v-icon>
            mdi-account
          </v-icon>
          {{ player.displayName }}
          <v-icon
            v-if="phase === 'nightTime'"
            @click="action(player)"
          >
            {{ actionName }}
          </v-icon>
          <v-icon
            v-if="true || phase === 'firstVoteTime' || phase === 'secondVoteTime'"
            right
            @click="vote(player)"
          >
            mdi-vote
          </v-icon>
        </v-chip>
      </v-list>
      <v-divider />
      <v-list
        v-if="deathList.length !== 0"
        class="dead-wrapper"
      >
        <v-list-item
          v-for="player in deathList"
          :key="player.uid"
          class="player"
        >
          <v-list-item-avatar>
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title
              class="d-flex align-center"
            >
              <span>{{ player.displayName }}</span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
  </v-card>
</template>

<script>
import firebase from 'firebase/app'
import { db, functions } from '@/firebaseInit'
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'PlayerList',
  data () {
    return {
      jobInfo: {
        mafia: {
          action: 'kill',
          actionName: '킬'
        },
        doctor: {
          action: 'heal',
          actionName: '치료'
        },
        police: {
          action: 'investigate',
          actionName: '조사'
        }
      }
    }
  },
  computed: {
    ...mapState(['currentUser', 'roomData', 'roomRef', 'gameData', 'gamePrivateData']),
    ...mapState({
      state: state => state.roomData.state,
      playerList: state => state.roomData.playerList,
      gameId: state => state.roomData.gameId,
      masterId: state => state.roomData.master.uid,
      masterName: state => state.roomData.master.displayName,
      survivorList: state => state.gameData && state.gameData.survivorList,
      deathList: state => state.gameData && state.gameData.deathList,
      suspect: state => state.gameData && state.gameData.phaseData.suspect,
      phase: state => state.gameData && state.gameData.phaseData.phase,
      phaseName: state => state.gameData && state.gameData.phaseData.phaseName
    }),
    ...mapGetters(['gameRef']),
    readyPlayers () {
      return this.playerList.map((player, i) => player.ready ? i : '')
    },
    actionName () {
      return this.gamePrivateData.job && this.jobInfo[this.gamePrivateData.job].actionName
    }
  },
  watch: {
    playerList (newList, oldList) {
      if (newList !== undefined && newList.findIndex(x => x.uid === firebase.auth().currentUser.uid) < 0) {
        alert('강제퇴장 되었습니다.')
        this.$router.push('/lobby')
      }
    }
  },
  methods: {
    async action (survivor) {
      try {
        const result = await functions.httpsCallable('nightAction')({ gameId: this.gameRef.id, target: survivor })
        console.log(result)
      } catch (e) {
        console.error(e)
      }
    },
    async vote (survivor) {
      try {
        const result = await functions.httpsCallable('voteAction')({ gameId: this.gameRef.id, target: survivor })
        console.log(result)
      } catch (e) {
        console.error(e)
      }
    },
    async finalVote (op) {
      try {
        const displayName = op === 'down' ? '찬성' : '반대'
        const result = await functions.httpsCallable('voteAction')({ gameId: this.gameRef.id, target: { uid: op, displayName } })
        console.log(result)
      } catch (e) {
        console.error(e)
      }
    },
    kickPlayer (player) {
      try {
        return db.runTransaction(async t => {
          const doc = await t.get(this.roomRef)
          if (!doc.exists) {
            return
          }
          const playerList = doc.data().playerList
          const index = playerList.findIndex(x => x.uid === player.uid)
          playerList.splice(index, 1)
          t.update(this.roomRef, { playerList: playerList })
        })
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.player-list {
  background: #f0f0f0;
  .player-list-title {
    background: black;
    color: white;
    font-size: 24px;
    padding: 2px 0;
  }
  div.player-wrapper, div.survivor-wrapper, div.dead-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    font-weight: 700;
    div.player, div.survivor, div.dead {
      height: 30px;
      min-height: 30px;
    }
  }
  div.dead-wrapper {
    background-color: #a5a5a5;
  }
}
@media screen and (max-width: 767px) {
  .player-list {
    div.player-wrapper, div.survivor-wrapper, div.dead-wrapper {
      font-size: 18px;
      div.player, div.survivor, div.dead {
        font-size: 18px;
        button {
          font-size: 18px;
        }
      }
    }
  }
}
</style>
