<template>
  <div
    class="room-button"
  >
    <v-btn
      class="button-leave"
      @click="leaveRoom()"
    >
      나가기
    </v-btn>
    <v-btn
      v-if="roomData.state === '게임중'"
      class="button-ready"
    >
      메모장
    </v-btn>
    <v-btn
      v-else-if="masterId === currentUser.uid"
      class="button-ready"
      @click="gameStart()"
    >
      시작
    </v-btn>
    <v-btn
      v-else
      class="button-ready"
      @click="ready()"
    >
      준비
    </v-btn>
  </div>
</template>

<script>
import { functions } from '@/firebaseInit'
import { mapState } from 'vuex'

export default {
  name: 'RoomButton',
  computed: {
    ...mapState(['currentUser', 'dbUser', 'roomData', 'roomRef']),
    masterId () {
      return this.roomData.master.uid
    }
  },
  methods: {
    async ready () {
      try {
        await functions.httpsCallable('roomReady')({ id: this.roomRef.id })
      } catch (e) {
        console.error(e)
      }
    },
    async gameStart () {
      // try {
      //   const result = await functions.httpsCallable('gameStart')({ id: this.roomRef.id })
      //   console.log(result)
      // } catch (e) {
      //   console.error(e)
      // }
    },
    leaveRoom () {
      this.$store.dispatch('leaveRoom')
    }
  }
}
</script>

<style lang="scss" scoped>
.room-button {
  display: grid;
  grid: 1fr / 1fr 1fr;
  grid-column-gap: 10px;
  align-items: stretch;
  .button-leave, .button-ready {
    width: 120px;
    height: auto;
    font-weight: 700;
    font-size: 20px;
    color: black;
  }
}

@media screen and (max-width: 767px) {
  .room-button {
    button {
      width: 72px;
      height: 36px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}
</style>
