<template>
  <div class="room-info">
    <v-dialog
      v-model="roomSettingDialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          height="48"
          color="red darken-3"
          v-on="on"
        >
          {{ roomMode }}
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          방 정보 수정
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-text-field
              v-model="roomTitle"
              :rules="titleRule"
              label="방제"
            />
            <v-radio-group
              v-model="roomMode"
              :mandatory="true"
            >
              <v-radio
                label="마피아"
                value="mafia"
                default
              />
              <v-radio
                label="타뷸라"
                value="tabula"
                disabled
              />
              <v-radio
                label="먹이사슬"
                value="foodchain"
                disabled
              />
            </v-radio-group>
            <v-slider
              v-model="roomMax"
              label="최대 인원"
              min="3"
              max="17"
              :thumb-size="24"
              thumb-label="always"
            />
            <v-slider
              v-model="nightLen"
              label="밤"
              min="10"
              max="120"
              :thumb-size="24"
              thumb-label="always"
              hide-details
              class="mb-5 align-center"
            >
              <template #append>
                <v-text-field
                  v-model="nightLen"
                  hide-details
                  single-line
                  type="number"
                  class="mt-0 pt-0"
                />
              </template>
            </v-slider>
            <v-slider
              v-model="dayLen"
              label="낮"
              min="10"
              max="120"
              :thumb-size="24"
              thumb-label="always"
              hide-details
              class="mb-5 align-center"
            >
              <template #append>
                <v-text-field
                  v-model="dayLen"
                  hide-details
                  single-line
                  type="number"
                  class="mt-0 pt-0"
                />
              </template>
            </v-slider>
            <v-slider
              v-model="voteLen"
              label="투표"
              min="10"
              max="120"
              :thumb-size="24"
              thumb-label="always"
              hide-details
              class="align-center"
            >
              <template #append>
                <v-text-field
                  v-model="voteLen"
                  hide-details
                  single-line
                  type="number"
                  class="mt-0 pt-0"
                />
              </template>
            </v-slider>
            <v-switch
              v-model="roomPrivate"
              label="비공개"
            />
            <v-text-field
              v-if="roomPrivate"
              v-model="roomPassword"
              label="비밀번호"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn @click="roomSettingDialog = false">
            닫기
          </v-btn>
          <v-btn @click="roomSettingChange()">
            수정
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <span>{{ roomTitle }}</span>
    <span v-if="phase !== 'gameOver' && playerJob !== ''">{{ playerJob }}</span>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'RoomInfo',
  data () {
    return {
      roomSettingDialog: false,
      titleRule: [
        v => !!v || '방제를 입력해주세요',
        v => v.length <= 20 || '방제는 20글자 이내여야 합니다.'
      ]
    }
  },
  computed: {
    ...mapState(['roomData', 'roomRef', 'gamePrivateData']),
    ...mapState({
      state: state => state.roomData.state,
      playerList: state => state.roomData.playerList,
      gameId: state => state.roomData.gameId,
      masterId: state => state.roomData.master.uid,
      masterName: state => state.roomData.master.displayName,
      phase: state => state.gameData.phaseData.phase,
      phaseLen: state => state.roomData.phaseLen,
      playerJob: state => state.gamePrivateData && state.gamePrivateData.job
    }),
    ...mapGetters(['gameRef']),
    nightLen: {
      get () {
        return this.phaseLen.nightLen
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          phaseLen: {
            ...this.phaseLen,
            nightLen: val
          }
        })
      }
    },
    dayLen: {
      get () {
        return this.phaseLen.dayLen
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          phaseLen: {
            ...this.phaseLen,
            dayLen: val
          }
        })
      }
    },
    voteLen: {
      get () {
        return this.phaseLen.voteLen
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          phaseLen: {
            ...this.phaseLen,
            voteLen: val
          }
        })
      }
    },
    roomTitle: {
      get () {
        return this.roomData.roomTitle
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          roomTitle: val
        })
      }
    },
    roomMode: {
      get () {
        return this.roomData.roomMode
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          roomMode: val
        })
      }
    },
    roomMax: {
      get () {
        return this.roomData.roomMax
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          roomMax: val
        })
      }
    },
    roomPrivate: {
      get () {
        return this.roomData.roomPrivate
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          roomPrivate: val
        })
      }
    },
    roomPassword: {
      get () {
        return this.roomData.roomPassword
      },
      set (val) {
        this.$store.commit('updateRoomData', {
          ...this.roomData,
          roomPassword: val
        })
      }
    }
  },
  methods: {
    roomSettingChange: function () {
      this.roomRef.update({
        roomTitle: this.roomTitle,
        roomMode: this.roomMode,
        roomMax: this.roomMax,
        roomPrivate: this.roomPrivate,
        roomPassword: this.roomPassword,
        'phaseLen.nightLen': this.nightLen,
        'phaseLen.dayLen': this.dayLen,
        'phaseLen.voteLen': this.voteLen
      })
      this.roomSettingDialog = false
    }
  }
}
</script>

<style lang="scss" scoped>
.room-info {
  display: grid;
  grid: 1fr / 120px 1fr auto;
  column-gap: 10px;
  align-items: center;

  font-size: 35px;
  button {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .room-info {
    font-size: 20px;
    button {
      font-size: 16px;
    }
  }
}
</style>
