<template>
  <v-card
    class="secret-chat-box ml-2"
    elevation="4"
  >
    <v-card-title class="secret-chat-box-title justify-center">
      비밀채팅
    </v-card-title>
    <v-card-text class="secret-chat-wrapper">
      <div
        v-for="chat in combinedMessage"
        :key="chat.id"
      >
        <v-chip
          v-if="chat.uid !== 'admin'"
          class="mr-2 px-2"
        >
          {{ chat.displayName }}
        </v-chip>
        <span>
          {{ chat.msg }}
        </span>
      </div>
    </v-card-text>
    <v-text-field
      v-model="chatTyping"
      label="메세지 입력"
      class="chat-field px-3 pt-2"
      type="text"
      append-icon="mdi-send"
      autofocus
      outlined
      clearable
      dense
      hide-details
      color="red darken-3"
      :disabled="state === '준비중'"
      @keyup.enter="msgSend"
      @click:append="msgSend"
    />
  </v-card>
</template>

<script>
import firebase from 'firebase/app'
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'SecretChatBox',
  data () {
    return {
      secretChatList: [],
      chatTyping: '',
      chatRef: null,
      chatLimit: 100,
      stickBottom: true
    }
  },
  computed: {
    ...mapState(['currentUser', 'userTime', 'roomData', 'roomRef', 'gameData', 'gamePrivateData']),
    ...mapState({
      phase: state => state.gameData.phaseData.phase,
      privateNotices: state => state.gamePrivateData ? state.gamePrivateData.privateNotices : []
    }),
    ...mapGetters(['gameRef']),
    state () {
      return this.roomData && this.roomData.state
    },
    combinedMessage () {
      let tempChatList = []
      tempChatList = this.secretChatList.slice(0, -1)
      tempChatList.sort((a, b) => {
        if (a.timeSent === null) {
          return 1
        }
        if (b.timeSent === null) {
          return -1
        }
        return a.timeSent.toMillis() - b.timeSent.toMillis()
      })
      return tempChatList
    }
  },
  watch: {
    gamePrivateData: {
      immediate: true,
      handler (data) {
        if (data && data.job === 'mafia') {
          this.$bind('secretChatList', this.gameRef.collection('mafiaChatList').orderBy('timeSent', 'desc').limit(this.chatLimit))
        }
      }
    }
  },
  updated () {
    const chatBox = this.$el.querySelector('.secret-chat-wrapper')
    if (this.stickBottom) {
      chatBox.scrollTop = chatBox.scrollHeight
    }
  },
  mounted () {
    const chatBox = this.$el.querySelector('.secret-chat-wrapper')
    chatBox.onscroll = async () => {
      if (chatBox.scrollTop + 1000 < chatBox.scrollHeight) {
        this.stickBottom = false
      } else {
        this.stickBottom = true
      }
      if (chatBox.scrollTop === 0) {
        const oldHeight = chatBox.scrollHeight
        this.chatLimit = this.combinedMessage.length + 100
        await this.$bind('secretChatList', this.gameRef.collection('mafiaChatList').orderBy('timeSent', 'desc').limit(this.chatLimit), { wait: true })
        chatBox.scrollTop = chatBox.scrollHeight - oldHeight
      }
    }
  },
  methods: {
    msgSend () {
      if (this.chatTyping) {
        try {
          this.gameRef.collection('mafiaChatList').add({
            msg: this.chatTyping,
            uid: this.currentUser.uid,
            displayName: this.currentUser.displayName,
            timeSent: firebase.firestore.FieldValue.serverTimestamp()
          })
          this.chatTyping = ''
          const chatBox = this.$el.querySelector('.secret-chat-wrapper')
          chatBox.scrollTop = chatBox.scrollHeight
          this.stickBottom = true
        } catch (e) {
          console.error(e)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.secret-chat-box {
  display: grid;
  grid: auto 1fr auto / 1fr;
  row-gap: 10px;

  min-height: 0;
  height: 100%;
  padding: 0 0 10px 0;

  background: #f0f0f0;
  .secret-chat-box-title {
    background: black;
    color: white;
    font-size: 20px;
    padding: 2px 0;
  }
  .secret-chat-wrapper {
    display: grid;
    grid: auto / 1fr;
    align-content: start;
    color: black;
    overflow-y: auto;
    font-weight: 700;
    padding: 0;
    div {
      display: flex;
      align-items: center;
      padding: 3px 16px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid #b0b0b0;
      white-space: pre-line;
      &:last-child {
        border-bottom: 1px;
      }
    }
  }
  .chat-field {
    border-top: 1px solid #b0b0b0;
  }
}
@media screen and (max-width: 767px) {
  .secret-chat-box {
    .secret-chat-wrapper {
      font-size: 18px;
    }
  }
}
</style>
