<template>
  <div
    v-if="phaseData && phaseData.phase"
    class="timer"
  >
    <div v-if="false && playerJob">
      직업: {{ playerJob }}
    </div>
    <div v-if="phaseData.phaseName !== '게임종료'">
      {{ phaseData.phaseDate }}일째 {{ phaseData.phaseName }}
      {{ phaseTimer }}초
    </div>
    <div v-else>
      게임종료
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import { functions } from '@/firebaseInit'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Timer',
  data () {
    return {
      interval: null,
      timer: 0,
      offset: 0,
      accTime: 0
    }
  },
  computed: {
    ...mapState(['userTime', 'roomData', 'gameData', 'userRef']),
    ...mapState({
      phaseData: state => state.gameData && state.gameData.phaseData
    }),
    ...mapGetters(['gameRef']),
    phaseTimer () {
      return this.timer > 0 ? parseInt(this.timer) : 0
    }
  },
  watch: {
    phaseData (newData, oldData) {
      if (newData && newData.phase !== 'gameOver') {
        this.startTimer()
      }
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  methods: {
    async startTimer () {
      // clearInterval(this.interval)
      // this.interval = setInterval(async () => {
      //   console.log('interval')
      //   this.timer = this.phaseData.phaseSecond - (Date.now() - this.phaseData.phaseStarted.toMillis()) / 1000
      //   if (this.timer < 0) {
      //     clearInterval(this.interval)
      //     const result = functions.httpsCallable('phaseStart')({
      //       gameId: this.gameRef.id,
      //       phaseData: this.phaseData
      //     })
      //     console.log(result)
      //   }
      // }, 1000)
      clearInterval(this.interval)
      await this.userRef.set({
        servertime: firebase.firestore.FieldValue.serverTimestamp()
      }, { merge: true })
      const unsubscribe = this.userRef.onSnapshot(doc => {
        const servertime = doc.data().servertime
        if (servertime) {
          unsubscribe()
          const offset = Date.now() - servertime.toMillis()
          if (servertime.toMillis() - this.phaseData.phaseStarted.toMillis() < 0) {
            console.error('time is strange')
          }
          this.interval = setInterval(async () => {
            this.timer = this.phaseData.phaseSecond - (Date.now() - this.phaseData.phaseStarted.toMillis() - offset) / 1000
            if (this.timer < 0) {
              clearInterval(this.interval)
              const result = await functions.httpsCallable('phaseStart')({
                gameId: this.gameRef.id,
                phaseData: this.phaseData
              })
              console.log(result)
            }
          }, 1000)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.timer {
  display: grid;
  grid: auto / 1fr auto;
  column-gap: 10px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .timer {
    font-weight: 700;
    font-size: 18px;
  }
}
</style>
