<template>
  <div class="home">
    <div
      v-if="dbUser"
      class="user-profile-group"
    >
      <v-img
        :src="currentUser.photoURL"
        alt="profile"
        width="150"
        height="150"
      />
      <div class="user-info">
        <div>Lv.{{ dbUser.level }} {{ currentUser.displayName }}</div>
        <v-progress-linear
          :value="37"
          :height="40"
          rounded
        >
          {{ 37 }}%
        </v-progress-linear>
        <div>승률</div>
        <v-btn-toggle>
          <v-btn to="/lobby">
            마이페이지
          </v-btn>
          <v-btn @click="logout()">
            로그아웃
          </v-btn>
        </v-btn-toggle>
      </div>
      <v-btn to="/lobby">
        게임시작
      </v-btn>
    </div>
    <div v-else>
      <v-progress-circular
        indeterminate
      />
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import { mapState } from 'vuex'

export default {
  name: 'Home',
  components: {
  },
  computed: {
    ...mapState(['currentUser', 'dbUser'])
  },
  methods: {
    async logout () {
      await firebase.auth().signOut()
      this.$router.push('/login')
      alert('로그아웃 되셨습니다!')
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  display: grid;
  place-content: start start;
  .user-profile-group {
    display: grid;
    grid: auto-flow auto auto / auto auto;
    &>a {
      grid-column: 1 / span 2;
    }
  }
}
</style>
