<template>
  <div class="lobby">
    <router-view
      :key="$route.fullPath"
    />
  </div>
</template>

<script>
export default {
  name: 'Lobby'
}
</script>

<style lang="scss" scoped>
.lobby {
  display: grid;

  min-height: 0;
  height: 100%;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .lobby {
    margin: 0;
    padding: 0;
    border: none;
  }
}
</style>
