<template>
  <div>
    Login
    <button @click="googleLogin()">
      구글 로그인
    </button>
    <button @click="emailLogin()">
      이메일 로그인
    </button>
    <button @click="createAccount()">
      회원가입
    </button>
  </div>
</template>

<script>
import firebase from 'firebase/app'

export default {
  name: 'Login',
  data () {
    return {
      email: 'test@test.com',
      password: '123456'
    }
  },
  methods: {
    googleLogin: async function () {
      const provider = new firebase.auth.GoogleAuthProvider()
      try {
        await firebase.auth().signInWithPopup(provider)
        this.$router.push('/')
      } catch (e) {
        console.error(e)
        alert('아이디 비밀번호를 확인해 주세요')
      }
    },
    emailLogin: async function () {
      try {
        await firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        this.$router.push('/')
      } catch (e) {
        alert('아이디 비밀번호를 확인해 주세요')
        console.error(e)
      }
    },
    createAccount: async function () {
      try {
        await firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        this.$router.push('/')
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
