<template>
  <v-app-bar
    app
    height="150"
    class="top-navbar"
  >
    <router-link to="/">
      WEBMAFIA
    </router-link>
    <v-spacer />
    <v-btn-toggle>
      <v-btn to="/notice">
        공지사항
      </v-btn>
      <v-btn to="/notice">
        게임소개
      </v-btn>
      <v-btn to="/notice">
        커뮤니티
      </v-btn>
      <v-btn to="/notice">
        건의사항
      </v-btn>
    </v-btn-toggle>
  </v-app-bar>
</template>

<style lang="scss" scoped>
.top-navbar {
  font-size: 40px;
  padding: 0 200px;
  div {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .top-navbar {
    padding: 10px 0;
    div {
      font-size: 14px;
      column-gap: 4px;

      &:first-child {
        font-size: 25px;
      }
    }
  }
}
</style>
