<template>
  <div
    v-if="roomData !== null"
    class="room"
  >
    <RoomButton class="room-button" />
    <PlayerList class="player-list" />
    <RoomInfo class="room-info" />
    <Timer class="timer" />
    <div class="chat-container">
      <ChatBox class="chat-box" />
      <SecretChatBox
        v-if="state === '게임중' && playerJob === 'mafia'"
        class="secret-chat-box"
      />
    </div>
  </div>
  <v-progress-circular
    v-else
    indeterminate
  />
</template>

<script>
import RoomInfo from './RoomComponent/RoomInfo'
import ChatBox from './RoomComponent/ChatBox'
import SecretChatBox from './RoomComponent/SecretChatBox'
import RoomButton from './RoomComponent/RoomButton'
import PlayerList from './RoomComponent/PlayerList'
import Timer from './RoomComponent/Timer'
import { mapState } from 'vuex'

export default {
  name: 'Room',
  components: { RoomInfo, RoomButton, PlayerList, ChatBox, Timer, SecretChatBox },
  computed: {
    ...mapState(['currentUser', 'dbUser', 'roomData', 'gameData', 'gamePrivateData']),
    state () {
      return this.roomData ? this.roomData.state : ''
    },
    playerJob () {
      return this.gamePrivateData ? this.gamePrivateData.job : ''
    }
  },
  watch: {
    roomData: {
      immediate: true,
      handler (data) {
        if (data && data.gameId) {
          this.$store.dispatch('bindGameData')
        } else {
          this.$store.dispatch('unbindGameData')
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.room {
  display: grid;
  grid:
    "room-button room-info timer" auto
    "player-list chat-container chat-container" 1fr
    / auto 1fr auto;
  column-gap: 10px;
  row-gap: 10px;

  min-height: 0;
  .room-button {
    grid-area: room-button;
  }
  .player-list {
    grid-area: player-list;
  }
  .room-info {
    grid-area: room-info;
  }
  .chat-container {
    grid-area: chat-container;
    display: grid;
    grid:
      "chat-box secret-chat-box" 1fr
      / 1fr auto;
    min-height: 0;
    height: 100%;
  }
  .chat-box {
    grid-area: chat-box;
  }
  .secret-chat-box {
    grid-area: secret-chat-box;
  }
}

@media screen and (max-width: 767px) {
  .room {
    grid:
      "room-button" auto
      "room-info" auto
      "player-list" auto
      "timer" auto
      "chat-box" 1fr
      / 1fr;
  }
}
</style>
