<template>
  <div
    class="room-list"
  >
    <div class="room-list-player-group">
      <v-card>
        <v-img
          :src="currentUser.photoURL"
          width="250"
          height="250"
        />
        <v-card-text>
          <div>Lv.{{ dbUser.level }} {{ currentUser.displayName }}님</div>
          <v-progress-linear
            :value="dbUser.level_exp"
            rounded
            :height="20"
          >
            {{ dbUser.level_exp }}%
          </v-progress-linear>
        </v-card-text>
        <v-card-actions class="justify-space-around">
          <v-dialog
            v-model="roomCreateDialog"
            width="500"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                height="50"
                v-on="on"
              >
                방 만들기
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                방 만들기
              </v-card-title>
              <v-card-text>
                <v-form ref="form">
                  <v-text-field
                    v-model="roomTitle"
                    :rules="titleRule"
                    label="방제"
                  />
                  <v-radio-group
                    v-model="roomMode"
                    :mandatory="true"
                  >
                    <v-radio
                      label="마피아"
                      value="mafia"
                      default
                    />
                    <v-radio
                      label="타뷸라"
                      value="tabula"
                      disabled
                    />
                    <v-radio
                      label="먹이사슬"
                      value="foodchain"
                      disabled
                    />
                  </v-radio-group>
                  <v-slider
                    v-model="roomMax"
                    label="최대 인원"
                    min="3"
                    max="17"
                    :thumb-size="24"
                    thumb-label="always"
                  />
                  <v-switch
                    v-model="roomPrivate"
                    label="비공개"
                  />
                  <v-text-field
                    v-if="roomPrivate"
                    v-model="roomPassword"
                    label="비밀번호"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click="roomCreateDialog = false">
                  닫기
                </v-btn>
                <v-btn @click="newRoom()">
                  만들기
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog
            v-model="fastStartDialog"
            width="500"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                height="50"
                v-on="on"
              >
                빠른 시작
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                빠른 시작
              </v-card-title>
              <v-card-text>
                <v-radio-group
                  v-model="roomMode"
                  :mandatory="true"
                >
                  <v-radio
                    label="마피아"
                    value="mafia"
                    default
                  />
                  <v-radio
                    label="타뷸라"
                    value="tabula"
                    disabled
                  />
                  <v-radio
                    label="먹이사슬"
                    value="foodchain"
                    disabled
                  />
                </v-radio-group>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click="fastStartDialog = false">
                  닫기
                </v-btn>
                <v-btn @click="fastStart()">
                  시작
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-actions>
        <v-divider />
        <v-card-actions class="justify-space-between">
          <v-btn>
            <v-icon>mdi-settings</v-icon>
            마이페이지
          </v-btn>
          <v-btn>
            <v-icon>mdi-power</v-icon>
            로그아웃
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
    <v-data-table
      class="room-list-table"
      :headers="headers"
      :items="roomList"
      fixed-header
      disable-pagination
      hide-default-footer
      @click:row="enterRoom"
    />
  </div>
</template>

<script>
import firebase from 'firebase/app'
import { db } from '@/firebaseInit'
import { mapState } from 'vuex'

export default {
  name: 'RoomList',
  data () {
    return {
      loading: false,
      roomList: [],

      roomCreateDialog: false,
      fastStartDialog: false,
      roomTitle: '',
      titleRule: [
        v => !!v || '방제를 입력해주세요',
        v => v.length <= 18 || '방제는 18글자 이내여야 합니다.'
      ],
      roomMode: 'mafia',
      roomMax: 10,
      roomPrivate: false,
      roomPassword: '',

      headers: [
        {
          text: '방제',
          value: 'roomTitle',
          align: 'center'
        },
        {
          text: '방장',
          value: 'master.displayName',
          align: 'center'
        },
        {
          text: '인원',
          value: 'playerList.length',
          align: 'center'
        },
        {
          text: '최대 인원',
          value: 'roomMax',
          align: 'center'
        },
        {
          text: '상태',
          value: 'state',
          align: 'center'
        },
        {
          text: '모드',
          value: 'roomMode',
          align: 'center'
        }
      ]
    }
  },
  firestore () {
    return {
      roomList: db.collection('lobby').orderBy('timeCreated', 'desc')
    }
  },
  computed: {
    ...mapState(['currentUser', 'dbUser', 'userRef'])
  },
  methods: {
    fastStart: async function () {
      try {
        const { docs: [docRef] } = await db.collection('lobby').where('roomMode', '==', this.roomMode).where('state', '==', '준비중').limit(1).get()
        await db.collection('uid_list').doc(this.currentUser.uid).update({
          room: docRef.id
        })
        this.$router.push(`/lobby/${docRef.id}`)
      } catch (e) {
        console.log(e)
      }
    },
    newRoom: async function () {
      if (this.loading) {
        return
      }
      if (!this.$refs.form.validate()) {
        return
      }
      this.loading = true
      try {
        const docRef = await db.collection('lobby').add({
          state: '준비중',
          timeCreated: firebase.firestore.FieldValue.serverTimestamp(),
          master: {
            uid: this.currentUser.uid,
            displayName: this.currentUser.displayName
          },
          playerList: [{
            uid: this.currentUser.uid,
            displayName: this.currentUser.displayName,
            ready: true
          }],
          roomTitle: this.roomTitle,
          roomMode: this.roomMode,
          roomMax: this.roomMax,
          roomPrivate: this.roomPrivate,
          roomPassword: this.roomPassword,
          jobNum: {
            mafia: 1,
            police: 1,
            doctor: 1
          },
          // phaseLen: {
          //   nightLen: 30,
          //   dayLen: 60,
          //   voteLen: 30,
          //   finalArgLen: 30,
          //   finalVoteLen: 30,
          //   sunFallLen: 10
          // }
          phaseLen: {
            nightLen: 10,
            dayLen: 10,
            voteLen: 10,
            finalArgLen: 10,
            finalVoteLen: 10,
            sunFallLen: 10
          }
        })
        await db.collection('uid_list').doc(this.currentUser.uid).update({
          room: docRef.id
        })
        this.$router.push(`/lobby/${docRef.id}`)
      } catch (e) {
        console.log(e)
      }
      this.loading = false
    },
    enterRoom (room) {
      const roomRef = db.collection('lobby').doc(room.id)
      return db.runTransaction(async t => {
        const [roomDoc, userDoc] = await Promise.all([
          t.get(roomRef),
          t.get(this.userRef)
        ])
        if (!(roomDoc.exists && userDoc.exists)) {
          t.delete(roomRef)
          t.update(this.userRef, { room: null })
          throw Error('Document does not exists.')
        }
        // 이미 다른 방에 들어가 있을 때 그 방에서 나옴 - 이후 firebase functions firestore trigger로 이동해야할 부분
        // 오류나서 주석처리
        /* if (userDoc.data().room) {
          this.$store.dispatch('leaveRoom', db.collection('lobby').doc(userDoc.data().room))
        } */
        const playerList = roomDoc.data().playerList
        const index = playerList.findIndex(p => p.uid === this.currentUser.uid)

        if (index < 0) {
          playerList.push({
            uid: this.currentUser.uid,
            displayName: this.currentUser.displayName,
            ready: false
          })
        }
        t.update(roomRef, { playerList: playerList })
        t.update(this.userRef, { room: room.id })
      }).then(() => this.$router.push(`/lobby/${room.id}`)).catch(error => {
        console.error(error)
        alert('방이 존재하지 않습니다.')
      })
    }
  }
}
</script>

<style lang="scss">
.room-list {
  display: grid;
  grid: 1fr / auto 1fr;
  column-gap: 50px;
  min-height: 0;
  height: 100%;
  // .room-list-player-group {
  //   display: grid;
  //   grid: auto / 1fr;
  //   grid-auto-rows: auto;
  //   align-content: space-between;
  //   row-gap: 20px;
  //   .player-info-group {
  //     display: grid;
  //     grid: auto / 1fr;
  //     grid-auto-rows: auto;
  //     justify-items: center;
  //     row-gap: 10px;

  //     padding: 20px;
  //     background: #111111;

  //     font-size: 20px;
  //     img {
  //       width: 250px;
  //       height: 250px;
  //     }
  //   }
  // }
  .room-list-table {
    display: grid;
    min-height: 0;
    max-height: 100%;
    font-size: 16px;
    font-weight: 700;
    .v-data-table__wrapper {
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .room-list {
    font-size: 14px;
    font-weight: 700;
    grid: auto 1fr / 1fr;
    .room-list-player-group {
      grid: auto auto / auto-flow auto auto;
      row-gap: 10px;
      .player-info-group {
        grid: auto-flow 1fr 1fr / auto 1fr;
        align-items: center;

        grid-column: 1 / span 2;
        padding: 10px;
        img {
          grid-row: 1 / span 2;

          width: 100px;
          height: 100px;
        }
      }
    }
    .room-list-info {
      .room-header, .room-row {
        grid: auto / 3fr repeat(3, 1fr);
        div:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
</style>
