<template>
  <v-app app>
    <Navbar />

    <v-content style="height: 100%">
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
html {
  overflow-y: auto !important;
}
html, body, #app {
  height: 100%;
}
#app {
  min-height: 0;
  padding: 0 200px;
  background: #e4e4e4;
  font: 500 14px 'Roboto', sans-serif;
  color: black;
  a {
    color: black;
    text-decoration: none;
  }
  .container {
    min-height: 0;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  #app {
    padding: 0 20px;
  }
}
</style>
